<header class="header container">
  <a href="" class="header__logo"
    >video course
    <img src="" alt="" />
  </a>
  <nav class="header__navigation">
    <ul class="header__navigation__list">
      <li class="header__navigation__item">
        <a class="header__navigation__link" href="">Courses</a>
      </li>
      <li class="header__navigation__item">
        <a class="header__navigation__link" href="">About</a>
      </li>
    </ul>
  </nav>
</header>
<main>
  <section class="courses container">
    <input class="courses__search" type="text" placeholder="text for search" />
    <button class="courses__add" type="button">Add course</button>
    <ul class="courses__list">
      <li class="courses__item">
        <div class="courses__item__content">
          <p class="courses__item__title"></p>
          <p class="courses__item__text"></p>
        </div>
        <div class="courses__item__buttons">
          <button class="courses__item__button" type="button">Edit</button>
          <button class="courses__item__button" type="button">Delete</button>
        </div>
      </li>
      <li class="courses__item">
        <div class="courses__item__content">
          <p class="courses__item__title"></p>
          <p class="courses__item__text"></p>
        </div>
        <div class="courses__item__buttons">
          <button class="courses__item__button" type="button">Edit</button>
          <button class="courses__item__button" type="button">Delete</button>
        </div>
      </li>
      <li class="courses__item">
        <div class="courses__item__content">
          <p class="courses__item__title"></p>
          <p class="courses__item__text"></p>
        </div>
        <div class="courses__item__buttons">
          <button class="courses__item__button" type="button">Edit</button>
          <button class="courses__item__button" type="button">Delete</button>
        </div>
      </li>
    </ul>
    <button class="courses__load-more" type="button">load more</button>
  </section>
  <section class="add container">
    <form action="#" class="add__form">
      <b class="add__title">New course</b>
      <label class="add__form__field">
        <span class="add__form__text">Title:</span>
        <span class="add__form__text">required</span>
        <span class="add__form__wrapper">
          <input
            type="text"
            class="add__form__input"
            name="course-title"
            placeholder="Some title..."
            required
          />
        </span>
      </label>
      <label class="add__form__field">
        <span class="add__form__text">Description:</span>
        <span class="add__form__text">required</span>
        <textarea
          name="coutse-description"
          class="add__form__message"
          placeholder="Description..."
        ></textarea>
      </label>
      <label class="add__form__field">
        <span class="add__form__text">Duration:</span>
        <span class="add__form__text">required</span>
        <span class="add__form__wrapper">
          <input
            type="text"
            class="add__form__input"
            name="course-duration"
            placeholder="0"
            required
          />
        </span>
      </label>
      <label class="add__form__field">
        <span class="add__form__text">Date:</span>
        <span class="add__form__text">required</span>
        <span class="add__form__wrapper">
          <input
            type="text"
            class="add__form__input"
            name="course-date"
            placeholder="18.02.2020"
            required
          />
        </span>
      </label>
      <label class="add__form__field">
        <span class="add__form__text">Authors:</span>
        <span class="add__form__wrapper">
          <select
            class="add__form__input"
            name="course-author"
            id="course-author"
          >
            <option value="author1" selected>Author1</option>
          </select>
        </span>
      </label>
      <button type="submit" class="">Cansel</button>
      <button type="submit" class="">Save</button>
    </form>
  </section>
  <section class="about container">
    <p class="about__title">About page</p>
  </section>
  <section class="page-404 container">
    <p class="page-404__title">404</p>
  </section>
</main>
<footer class="footer container">
  <p class="footer__text">Copyright &copy; Videocourses. All rights reserved</p>
</footer>
